<!DOCTYPE html>
<html lang="en">

<head>
    <title>Data</title>
</head>
<body>
    <form action="/verification" method="post">
        <input type="email" name="email">
        <input type="submit" name="submit">
    </form>
</body>
</html>